@model IEnumerable<Rent.Models.Domains.OrderItem>

<div class="row">
    <h2 class="text-center"> Lista produktów </h2>

    <table class="table table-hover table-stripped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col"> Lp </th>
                <th scope="col"> Produkt </th>
                <th scope="col"> Ilość </th>
                <th scope="col"> Wartość </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr>                  
                    <td class="font-weight-bold"> @position.Lp </td>                       
                    <td>@position.Product.Name</td>
                    <td>@position.Number</td>
                    <td>@position.Value zł</td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteInvoicePosition('@position.Id','@position.OrderId', this)">
                            Usuń
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


